[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tfx = "==1.0.0"
tensorflow_decision_forests = "*"
pydantic = "*"
pandas = "*"
wurlitzer ="*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.8"
