[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tfx = "==1.2.0"
pydantic = "*"
tensorflow_decision_forests = "0.1.8"

[dev-packages]
black = "*"
flake8 = "*"
jupyterlab-widgets = "==1.0.0"
jupyterlab = "*"

[requires]
python_version = "3.8"
