[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tfx = "==1.2.0"
pydantic = "*"
tensorflow= "==2.5.0"
ml-metadata= "==1.0.0"
kfp = "==1.7.2"
tensorflow-model-analysis= "==0.33.0"
shap = "==0.39.0"
matplotlib = "*"


[dev-packages]
black = "*"
flake8 = "*"
jupyterlab ="==3.0.0"
jupyterlab_widgets= "==1.0.0"


[requires]
python_version = "3.8"
